body{
    color:#537fab !important;

}
nav {
    background: transparent !important;
}
table {
    color: #537fab !important;
}
.container-fluid{
    background-color: white !important;
}
.btn-danger{
    color : #72afdf !important;
    background-color: #fdf4b4 !important;
    border-color: #ebc518 !important;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
}
.btn-danger:hover{
    color: white !important;
    background-color: #537fab !important;
}
.text-muted {
    color:white !important;
}
.bg-light{
    background-color: #537fab !important;
}
#dropdownMenuButton{
    background-color: #639cb7 !important;

}
.pos-messageErreur{
    background-color: #e49e9e !important;
    border: solid 1px red !important;
    inline-size: fit-content !important;
    color : red !important;
}
.pos-message{
    background-color: #83ef83;
    border: solid 1px green;
    color: green;
    inline-size: fit-content;
}
#bgAccueil{
    color : white !important;
}
